:root {
  /* color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;
  --orange-color: #f79c15;
  /* size */
  --padding: 12px;
  --avatar-size: 36px;
  --margin-small: 36px;
  --margin-large: 24px;
  /* font-size */
  --font-large: 24px;
  --font-buy-web: 20px;
  --font-medium: 18px;
  --font-small: 12px;
  --font-micro: 10px;
}

@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&display=swap");
@font-face {
  font-family: "koverwatch";
  src: url(/overwatch/media/koverwatch.ttf) format(truetype);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans KR", sans-serif;
}

/* 맨위 글로벌 내비게이션 */

.g_nav {
  background: #484848;
  color: #aeaeae;
  font-weight: 500;
  font-size: 17px;
}
.g_nav nav {
  width: 1080px;
  margin: 0 auto;
}
.g_nav li img {
  margin-top: 3px;
  width: 74px;
}
.g_nav nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.g_nav nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
.g_nav nav ul:nth-child(1) li {
  margin-right: var(--margin-small);
}
.g_nav nav ul:nth-child(2) li {
  margin-left: var(--margin-small);
}

/* 메인 동영상 플레이 및 로고 */

.main_mask {
  position: relative;
}
.main video {
  position: absolute;
  left: 0;
  top: -200px;
  /* clip: rect(0 100% 400px 0); */
  clip-path: inset(15% 0 13% 0);
  z-index: -4;
}

.main_nav {
  z-index: 9;
  position: relative;
  overflow: hidden;
  height: 80px;
  background-color: rgba(22, 22, 22, 0);
  transition: height 0.5s, background-color 0.3s;
}
.main_nav:hover {
  position: relative;
  z-index: 9;
  height: 268px;
  background-color: rgba(22, 22, 22, 0.8);
}
.main_nav_close {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 5;
}
/* .main_nav_close:hover {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: rgba(22, 22, 22, 0.8);
} */
.mnc {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.mnc ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.mnc ul:nth-child(1) li img {
  width: 66px;
  margin-top: 2px;
}
.mnc ul:nth-child(1) li {
  margin-right: 55px;
}
.mnc ul:nth-child(2) li {
  margin-left: 20px;
}
.mnc_buy_box {
  text-align: center;
  background: var(--orange-color);
  padding: 10px 20px 10px 20px;
}
.main_nav_open {
  /* display: none; */
  width: 100%;
  height: 268px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: -1;
}
.mno_border {
  width: 100%;
  height: 188;
  border-top: 1px solid rgba(122, 122, 122, 0.3);
  margin: 80px auto 0 auto;
}
.mno {
  width: 1080px;
  margin: 0 auto 0 auto;
  display: flex;
  color: rgb(211, 211, 211);
  padding: 10px 0;
  font-weight: 400;
}
.mno ul {
  list-style: none;
  text-align: center;
}
.mno ul li {
  margin: 12px 0;
}
.mno ul:nth-child(1) {
  margin: 0 124px 0 95px;
}
.mno ul:nth-child(3) {
  margin: 0 33px 0 10px;
}
.mno ul:nth-child(5) {
  margin: 0 18px 0 25px;
}

.main_logo {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.main_logo > div:nth-child(1) {
  margin-top: 200px;
}
.main_logo > div {
  margin: 15px;
}
.buy_box {
  background: var(--orange-color);
  padding: 10px 100px;
  text-align: center;
  color: var(--white-color);
  font-size: var(--font-buy-web);
  font-weight: 500;
}
