body {
  width: 100vw; height: 100vh;
  background-color: black;
  position: relative; overflow: hidden;
}
div#base {
  position: absolute; width: 100%; height: 100%;
}
header {
  position: absolute; top: 0; width: 100%; height: 80px;
  display: flex; justify-content: space-between;
  align-items: center; color: white; z-index: 9999;
}
header > .home-logo > img {transition: 0.2s;}
header > .home-logo:hover > img {filter: drop-shadow(0px 0px 8px rgb(255, 244, 126));}
header > div { margin-left: 40px; cursor: pointer; }
header > ul { margin-right: 40px; }
header > ul > li { 
  padding: 10px 28px; font-weight: 400;
  cursor: pointer; transition: all 0.3s ease;
}
header > ul > li:hover {
  font-weight: 600;
  color: rgb(255, 241, 218);
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 249, 68),
    0 0 5px rgb(255, 222, 133);
}
div.social {
  position: absolute; bottom: 40px; right: 60px; z-index: 9999;
}
div.social > a { margin: 10px; }
div.side-line {
  position: absolute; bottom: 40px; left: 80px;
  background: #fff; width: 1px; height: 240px; z-index: 9999;
}

/* 배경화면의 가운데에 위치하는 원입니다. 래디얼그라디언트를 주어 밖으로 퍼질수록 투명해지는 원을 만들었습니다 */
div.centerCircle {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(85, 85, 85, 0.5) 35%,
    rgba(0, 0, 0, 0) 55%
  );
  width: 65vw;
  height: 65vw;
  min-width: 760px;
  min-height: 760px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
