.main {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/illustrator/ai_main.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  z-index: -9999;
}
.main_box {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 1;
}
.main_wrap {
  margin-top: 130px;
  z-index: 2;
}
.main_top {
  margin-bottom: 30px;
}
.main_top img {
  width: 260px;
}
.main_mid {
  text-align: center;
  font-size: 30px;
  line-height: 1.8;
  margin: 10px 0;
}
.main_bot {
  margin-top: 190px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  animation-name: scroll;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes scroll {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  to {
    transform: translateY(25px);
    opacity: 0;
  }
}
.main_bot img {
  margin-top: 10px;
  width: 40px;
}
.second {
  margin: 100px 0;
}
.second_wrap {
  width: 1120px;
  margin: 0 auto;
}
.sw_img {
  position: relative;
  display: flex;
  align-items: center;
}
.sw_img img {
  width: 1120px;
}
.img_box {
  left: 140px;
  width: 420px;
  height: 540px;
  background: white;
  position: absolute;
}
.shapes {
  display: flex;
  flex-direction: row;
}
.s1,
.s2 {
  width: 210px;
  height: 210px;
}
.s2 {
  animation: rotate 3s ease-in-out infinite alternate;
}
@keyframes rotate {
  0% {
    transform: rotateX(0);
  }
  45% {
    transform: rotateX(0);
  }
  90% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
.rec {
  background: #fb769d;
  animation: rec 3s ease-in-out infinite alternate;
}
.rec2 {
  background: #677ae9;
  animation: rec2 3s ease-in-out infinite alternate;
}
@keyframes rec {
  0% {
    width: 3px;
    height: 3px;
  }
  45% {
    width: 150px;
    height: 3px;
  }
  90% {
    width: 150px;
    height: 150px;
  }
  100% {
    width: 150px;
    height: 150px;
  }
}
@keyframes rec2 {
  0% {
    width: 3px;
    height: 3px;
  }
  45% {
    width: 120px;
    height: 3px;
  }
  90% {
    width: 120px;
    height: 120px;
  }
  100% {
    width: 120px;
    height: 120px;
  }
}

.ib_title {
  font-size: 24px;
  margin: 40px 0;
  line-height: 1.8;
  text-align: center;
}
.ib_con {
  font-size: 14px;
  margin: 40px 0;
  line-height: 1.6;
  text-align: center;
}
.third {
  margin: 80px 0;
}
.tw_title {
  font-size: 36px;
  margin: 20px 0;
  font-weight: 500;
}
.tw_con {
  text-align: center;
  margin: 20px 0;
  line-height: 1.6;
}
.tw_img {
  width: 100vw;
  margin: 40px 0;
  position: relative;
}
.tw_img img {
  z-index: 2;
}
.tw_box {
  width: 100vw;
  height: 440px;
  background: rgb(255, 181, 28);
  position: absolute;
  z-index: 1;
}
.fourth {
  margin: 0 0 120px 0;
}
.fw_title {
  font-size: 36px;
  margin: 20px 0;
  font-weight: 500;
}
.fw_img {
  margin: 40px;
}
.fw_img img {
  width: 1120px;
}
