div.side-bar {
    position: absolute; left:10px; display: flex; height: 100vh;
    padding: 10vh 0; z-index: 9999;
    justify-content: center;}
div.side-bar > .scrollDown { position: relative; width: 40px;}
div.side-bar > .scrollDown div:first-child { 
    color: #4a4a4a; font-size: 16px;
    width: 120px; transform: rotate(-90deg);
    position: absolute; left: -39px; bottom: 120px; }
div.side-bar > .scrollDown img { position: absolute; bottom: 0; }
div.side-bar > .long-bar { width: 1px; height: 80vh; background-color: #cacaca;}
div.side-bar > .slide-bar { 
    position: absolute; right: -2px; top: 10vh;
    width: 5px ; height: 10%; background-color: #fcd224;
    border-radius: 3px; transition: 0.3s ease-in-out;
}
div.menu-bar {
    position: fixed; top: 50px; right: 50px;
    width: 46px; height: 46px; border: 2px solid white;
    z-index: 9999; cursor: pointer;
    transition: all 0.2s ease-in-out;
}
div.menu-bar > .menu-line{
    position: absolute;
    width: 22px; height: 2px; background: white;
    transition: all 0.2s ease-in-out;
}
div.menu-bar > .menu-line:first-child {top: 15px;}
div.menu-bar > .menu-line:last-child {bottom: 15px;}
