
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean');
/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Teko:300,400,500,600,700&display=swap&subset=devanagari,latin-ext');
/* font-family: 'Teko', sans-serif; */

:root{
    --main-color: #131313;
    --point-color: #f2a900;
    --strong-color: #ff8a00;
    --light-color: #f6ce68;
    --point-font: 'Teko', sans-serif;
    --weapon-deep-blue: #373853;
    --weapon-deep-black: #161616;
}
#Element{
    margin: 0 auto;
    width: 100vw;
}
* {font-family: 'Noto Sans KR', sans-serif;}

body{ 
    margin: 0;
}

/* -------------------main--------------------- */
#main{
    width: 100%;
    height: 700px;
    background-image: url(../img/main3.png);
    background-size: cover;
    background-position: top;
    transform: translate(-50% -50%);
    position: relative;
    box-shadow: 0 -10px 80px var(--point-color);
    z-index: 1;
}
#flame{
    position: absolute;
    width: 100%;
    height: 700px;
    mix-blend-mode: screen;
    user-select: none;
    pointer-events: none;
}
#nav-top{
    padding: 30px 100px;
    display: flex;
    justify-content:  space-between;
}
#nav-top-in{
    width:100%;
    padding-right:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-top ul{
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}
#nav-top li{
    list-style: none;
    padding-left: 50px;
}
#hamburger{display: none;}
#logo, #logo img{ width: 70px;}
#logout{padding-right: 20px;}

#nav-side{
    width: 200px;
    padding-left: 100px;
}
.menu-area{
    margin: 15px 0;
    display: block;
}
.menu-heading{
    color: white;
    font-size: 22px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.menu-heading:hover{
    background: var(--point-color);
    background: -webkit-linear-gradient(left, var(--strong-color), var(--point-color), var(--light-color));
    /* background:    -moz-linear-gradient(right, #55ff55, #55ffff);
    background:      -o-linear-gradient(right, #55ff55, #55ffff);
    background:         linear-gradient(to right, #55ff55, #55ffff); */
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    font-weight: bold;
    filter: drop-shadow( 0 0 10px rgb(0, 0, 0,0.3));
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.list-area{
    display: none;
    margin: 0;
    padding:0px 0 10px 20px;

}
.sub-menu{
    list-style: none;
    color:rgb(255,255,255,0.5);
    font-size: 15px;
    cursor: pointer;
}




#center_tx{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
    color: white;
    text-align: center;
    font-weight: normal;
    font-size:20px;
}
#center_tx br{ display: none;}
#sub_tx { font-size: 17px;}
#sub_tx span{ font-weight: bold;}
#main_tx{
    padding: 15px 20px;
    font-size: 24px;
    font-family: var(--point-font);
    letter-spacing: 0.3em;
    font-weight: bold;
    border: 1px solid white;
    filter: drop-shadow(0 0 10px rgb(0, 0, 0));
    background-color: rgb(0, 0, 0, 0.1);
}
/* .right-left-border{
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding: 0 10px;
} */


#playnow-out{
    width:240px;
    height:80px;
    border-style: solid;
    border-image: linear-gradient(to left, var(--strong-color), var(--light-color), var(--strong-color));
    border-image-slice: 1;
    position: absolute;
    right: 100px;
    bottom:50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#playnow-in{
    width: 240px;
    height:80px;
    background-color: rgb(0, 0, 0,0.4);
    display:flex;
    justify-content: center;
    align-items: center;
}
#playnow-in > p{
    margin:0;
    font-weight: bold;
    font-size: 40px;
    color: transparent;
    font-family: var(--point-font);
    background: var(--main-color);
    background: -webkit-linear-gradient(left, var(--strong-color), var(--light-color), var(--strong-color));
    -webkit-background-clip: text;
            background-clip: text;
}

#arrowbox{
    width: 100vw;
    height: 85px;
    /* background-color: rgb(22,22,22,0.5); */
    position: absolute;
    bottom: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}
#arrowbox p{
    position: absolute;
    left: 100px;
    bottom:18px;
    color: white;
    font-weight: lighter;
}

/* --------------------------------------- */

/* -------------------update-------------------- */
#update{
    height: 500px;
    background-image: url(../img/up-flame.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
    padding: 100px 0px 50px;
}

#up-in{
    max-width:1080px;
    margin: 0 auto;
}
#up-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* margin: 0 30px; */
}
#tx-area{
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
}
#tx-area h2{
    font-size: 80px;
    line-height: 1em;
    margin:0;
    margin-bottom:40px;
    color: transparent;
    background: var(--main-color);
    background: -webkit-linear-gradient(left, var(--strong-color), var(--light-color), var(--strong-color));
    -webkit-background-clip: text;
            background-clip: text;
}
#tx-area span{
    color: var(--point-color);
    margin-top:10px;
}
#tx-area br{ display: none;}
#detail{
    width: 160px;
    height: 45px;
    border: 1px solid white;
    text-align: center;
    padding-top:20px;
    margin-top:20px;
    cursor: pointer;
}
#up-banner{
    height: 250px;
    width: 600px;
    background-color: var(--main-color);
    background-image: url(../img/TeamBattle.png);
    background-size:cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#up-banner span{
    color: var(--point-color);
    font-size: 30px;
}
#up-banner p{
    color: white;
}
#gun{
    position: absolute;
    width:200px;
    left:60%;
    bottom:-10%;
    pointer-events: none;
}
/* --------------------------------------- */

/* -------------------path notes-------------------- */
#patchnotes{
    padding: 50px 0 50px 0;
    max-width:1200px;
    margin: 0 auto;  
    position: relative;
}
#thumb-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#thumb-1{
    display: flex;
}
#thumb-2{
    display: flex;
}
#thumb-1:after, #thumb-2:after{
    padding-bottom:100%;
}

.thumb, .thumbImg{
    width: 300px;
    height: 300px;
    transition: all 1s;
}

#thumb-pannel{
    background: linear-gradient(135deg, var(--strong-color), var(--point-color), var(--light-color));
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
}

#thumb-pannel p{
    color:white;
    font-size: 30px;
    font-weight: bold;
    box-sizing: border-box;
    filter: drop-shadow( 0 0 5px rgb(0, 0, 0,0.5));
}

#pn-arrow{
    cursor: pointer;
    filter: drop-shadow( 0 0 3px rgb(0, 0, 0,0.5));
}
/* #thumb-1{
    background-image: url('../img/pn_pic1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 30px rgb(0, 0, 0,0.5);
}
#thumb-2{
    background-image: url('../img/pn_pic2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 30px rgb(0, 0, 0,0.5);
}
#thumb-3{
    background-image: url('../img/pn_pic3.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 30px rgb(0, 0, 0,0.5);
} */
/* ----------------------------------------- */

/* ------------------- news ---- ---------------- */

#news-area{
    padding: 50px 0;
    display:flex;
    justify-content: center;
    margin: 0 50px;
}
.news-heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    /* background: linear-gradient(to right, var(--point-color), var(--light-color)); */

}
#news-area h4{
    margin:0;
    font-size: 30px;
    font-weight: bold;
    color: var(--main-color);
    padding-left: 15px;
    font-family: var(--point-font);
}

.news-heading span{
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
    cursor: pointer;
    padding-right: 15px;
}
.news-heading span:hover{
    color: var(--strong-color);
}
#notice-wrap hr, #contest-wrap hr{
    width: 100%;
    height:  1px;
    background-color: var(--main-color);
}
#news-wrap{
    max-width: 960px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#notice-wrap{
    max-width: 500px;
    width: 100%;
    /* border-bottom: 1px solid gray; */
}
#contest-wrap{
    max-width: 400px;
    width: 100%;
    margin-left:50px;
    /* border-bottom:1px solid gray; */
}

#notice-list{
    display: flex;
    justify-content: space-between;
    width:100%;
}

#notice-title{
    margin-left: 15px;
    width:100%;
}
#notice-title li{
    width:100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
#notice-title li:nth-child(1){margin-top: 0;}
#notice-title li:nth-last-child(){margin-bottom: 0;}
#notice-title li:hover{
    cursor: pointer;
    color: var(--strong-color);
}


#notice-date{
    margin-right: 15px;
    color: gray;
}

#notice-title ul, #notice-date ul{
    padding: 0;
}
#notice-title li, #notice-date li{
    margin: 15px 0;
    list-style: none;
}


.contest-img, .contest-img img{
    width: 100%;
    height: 100%;
}
.contest-img{
    padding-top:15px;
    cursor:pointer;
}
.contest:after{
    padding-bottom: 100%;
}

/* ------------------- marketing -------------------- */
#marketing{
    width: 100%;
    height: 400px;
    background-image: url(../img/palybanner.png);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
#marketing-wrap{
    max-width:1080px;
    margin: 0 auto;
    width:100%;
    height:400px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    
}
#marketing-tx{
    text-align: center;
    color: white;
    max-width:500px;
    padding-right:30px;
    padding-left:30px;
}
#marketing span{ font-size: 30px; font-weight: bold; margin-bottom:10px;}
#marketing p{line-height: 2em; margin:0;}

#marketing-img{
    margin-top: 40px;
    width:100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
    margin-right: 30px;
}
#marketing-img img{
    width: 120px;
}

/* ------------------- marketing END!!!------------------- */

#footer{
    background-color: var(--main-color);
    padding: 100px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 12px;
    color: gray;
}
#footer-logo, #footer-logo img{
    width:100px;
}
#footer-logo{
    margin-bottom: 30px;
}
#footer ul{
    padding:0;
    display: flex;
    justify-content: flex-end;
}
#footer li{
    list-style: none;
    padding: 0 10px;
}
#footer br{
    display: none;
}
#footer li:nth-child(1){ color: white; font-weight: bold;}
#footer li:hover{
    color: var(--strong-color);
}
#limit{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#limit div{
    padding: 0 10px;
}
#limit div, #limit img{
    height: 80px;
}
#footer p{ margin: 0;}
#footer p:nth-child(3){margin-bottom:10px;}
#footer br{
    display: none;
}



/* -------------------mobile-------------------- */
@media screen and (max-width: 1080px){
    #nav-side{ padding-left: 50px;}
    #nav-top{ padding-right: 50px; padding-left: 50px;}
    #center_tx br{display: none;}
}

@media screen and (max-width: 786px){
    #nav-top{ 
        padding: 0;
        height: 60px;
        background-color: var(--main-color);
    }
    #playnow-out{display: none;}
    #arrowbox{background-color: rgb(22,22,22,0.5); }
    #arrowbox p{display: none;}
    #nav-side{ display: none;}
    #logo img{
        width :60px;
    }
    #nav-top-in{ padding:0;}
    
    #hamburger{display: block;}

    #hamburger{
        width: 70px;
        height: 100%;
        background-color: var(--point-color)
    }
    input[id="menuicon"]{
        display: none;
    }
    input[id="menuicon"] + label{
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    input[id="menuicon"] + label span{
        display: block;
        position: absolute;
        width:30px;
        height:4px;
        border-radius: 30px;
        background: white;
        transition: all .35s;
    }
    input[id="menuicon"] + label span:nth-child(1){
        top: 0;
    }
    input[id="menuicon"] + label span:nth-child(2){
        top: 50%;
        transform: translateY(-50%);
    }
    input[id="menuicon"] + label span:nth-child(3){
        bottom:0;
    }
    input[id="menuicon"]:checked + label span:nth-child(1){
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    input[id="menuicon"]:checked + label span:nth-child(2){
        opacity: 0;   
    }
    input[id="menuicon"]:checked + label span:nth-child(3){
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }
    .sidebar-wrap{
        width: 300px;
        height: 100%;
        background:#222;
        position: fixed;
        top:60px;
        right: -300px;
        z-index:99999;
        transition: all .35s;
    }
    input[id="menuicon"]:checked + label + div{
        right:0;
    }







    /* #main_tx{ font-family} */
    #center_tx br{display: block;}
    #sub_tx{font-size: 17px; line-height: 2em;}
    #sub_tx span{ font-weight: bold;}
    #center_tx br{display: block;}

    #update{
        height: 580px;
        padding:0;
        padding-top: 50px;
    }
    #gun{display: none;}

    #tx-area p{ margin:5px 0;}
    
    #tx-area{ 
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 600px;
        width: 100%;
    }
    #up-wrap{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        
    }
    #up-banner{
        margin-top: 50px;
    }
    
    #marketing-wrap{
        height:350px;
    }
    #marketing{
        height:350px;
        background-position: right;
        display:flex;
        justify-content: center;
    }
    #marketing-img{
        display:flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin:0;
        margin-top:20px;
    }
    #marketing-img div{
        margin-bottom: 20px;
    }
    #marketing-img div:nth-child(3){margin:0;}
    #marketing-tx span{
        font-size:20px;
    }

    #footer ul{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #limit{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .limit-square{
        margin-bottom:20px;
    }
    
}

@media screen and (max-width: 480px) {
    #nav-top{ 
        padding: 0;
        height: 60px;
        background-color: var(--main-color);
    }
    #main{
        height: 100vh;
        box-shadow: none;
    }
    #flame{
        height: 100vh;
        width: 
    }
    #nav-top-in{ padding-right:20px;}
    #nav-side{ display: none;}
    #logo{ padding:10px;}

    #logout{display: none;}
    #nav-top{ 
        padding: 0;
        height: 60px;
        background-color: var(--main-color);
    }
    .right-left-border{
        border:0;
    }
    .thumb, .thumbImg{
        width: 200px;
        height: 200px;
    }


    
    #thumb-pannel p{ font-size:20px;}
    #pn-arrow img{ width:80px;}

    #tx-area{
        max-width: 400px;
        width: 100%;
    }
    #tx-area h2{
        margin-bottom: 20px;
        font-size: 60px;
    }
    #update{
        height: 550px;
    }
    #tx-area br{ display: block;}
    #up-banner{
        background-image: none;
        background-color: rgb(255,255,255, 0.05);
        border-top: 1px solid white;
        max-width: 400px;
        width:100%;
    }
    #news-wrap{
        display:flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    #contest-wrap{
        margin: 0;
    }
    #footer br{
        display: block;
    }
    
 }
 
 